[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/one/abfalltermine
ExecStart=/usr/bin/gunicorn3 --workers 1 --bind unix:wasteschedule.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
